.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: #262626;
    border-bottom: 4px solid #2271d1;
    box-shadow: 0px 5px 29px #2271d1;
}

.logo {
    width: 169px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

