.categoria {
    width: 300px;
    font-size: 48px;
    color: #fff;
}

.cardCategoria {
    text-align: center;
    width: 432px;
    font-size: 32px;
    color: #fff;
    border-radius: 15px;
    padding: 7px;
    margin-left: 7px;
}

.frontEnd {
    background-color: #6bd1ff;
}

.backEnd {
    background-color: #499f3a;
}

.mobile {
    background-color: #ffab6b;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}